<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.presentation.CanopusModelWizardID"
            name="%_UI_CanopusModelWizard_label"
            class="canopus.presentation.CanopusModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusModelFile.gif">
         <description>%_UI_CanopusModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.presentation.CanopusEditorID"
            name="%_UI_CanopusEditor_label"
            icon="icons/full/obj16/CanopusModelFile.gif"
            extensions="canopus"
            class="canopus.presentation.CanopusEditor"
            contributorClass="canopus.presentation.CanopusActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceMonitoring.presentation.CanopusPerformanceMonitoringModelWizardID"
            name="%_UI_CanopusPerformanceMonitoringModelWizard_label"
            class="canopus.canopusPerformanceMonitoring.presentation.CanopusPerformanceMonitoringModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceMonitoringModelFile.gif">
         <description>%_UI_CanopusPerformanceMonitoringModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceMonitoring.presentation.CanopusPerformanceMonitoringEditorID"
            name="%_UI_CanopusPerformanceMonitoringEditor_label"
            icon="icons/full/obj16/CanopusPerformanceMonitoringModelFile.gif"
            extensions="canopusperformancemonitoring"
            class="canopus.canopusPerformanceMonitoring.presentation.CanopusPerformanceMonitoringEditor"
            contributorClass="canopus.canopusPerformanceMonitoring.presentation.CanopusPerformanceMonitoringActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceMonitoring.canopusPerformanceMetric.presentation.CanopusPerformanceMetricModelWizardID"
            name="%_UI_CanopusPerformanceMetricModelWizard_label"
            class="canopus.canopusPerformanceMonitoring.canopusPerformanceMetric.presentation.CanopusPerformanceMetricModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceMetricModelFile.gif">
         <description>%_UI_CanopusPerformanceMetricModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceMonitoring.canopusPerformanceMetric.presentation.CanopusPerformanceMetricEditorID"
            name="%_UI_CanopusPerformanceMetricEditor_label"
            icon="icons/full/obj16/CanopusPerformanceMetricModelFile.gif"
            extensions="canopusperformancemetric"
            class="canopus.canopusPerformanceMonitoring.canopusPerformanceMetric.presentation.CanopusPerformanceMetricEditor"
            contributorClass="canopus.canopusPerformanceMonitoring.canopusPerformanceMetric.presentation.CanopusPerformanceMetricActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceScenario.presentation.CanopusPerformanceScenarioModelWizardID"
            name="%_UI_CanopusPerformanceScenarioModelWizard_label"
            class="canopus.canopusPerformanceScenario.presentation.CanopusPerformanceScenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceScenarioModelFile.gif">
         <description>%_UI_CanopusPerformanceScenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceScenario.presentation.CanopusPerformanceScenarioEditorID"
            name="%_UI_CanopusPerformanceScenarioEditor_label"
            icon="icons/full/obj16/CanopusPerformanceScenarioModelFile.gif"
            extensions="canopusperformancescenario"
            class="canopus.canopusPerformanceScenario.presentation.CanopusPerformanceScenarioEditor"
            contributorClass="canopus.canopusPerformanceScenario.presentation.CanopusPerformanceScenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceScenario.canopusPerformanceWorkload.presentation.CanopusPerformanceWorkloadModelWizardID"
            name="%_UI_CanopusPerformanceWorkloadModelWizard_label"
            class="canopus.canopusPerformanceScenario.canopusPerformanceWorkload.presentation.CanopusPerformanceWorkloadModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceWorkloadModelFile.gif">
         <description>%_UI_CanopusPerformanceWorkloadModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceScenario.canopusPerformanceWorkload.presentation.CanopusPerformanceWorkloadEditorID"
            name="%_UI_CanopusPerformanceWorkloadEditor_label"
            icon="icons/full/obj16/CanopusPerformanceWorkloadModelFile.gif"
            extensions="canopusperformanceworkload"
            class="canopus.canopusPerformanceScenario.canopusPerformanceWorkload.presentation.CanopusPerformanceWorkloadEditor"
            contributorClass="canopus.canopusPerformanceScenario.canopusPerformanceWorkload.presentation.CanopusPerformanceWorkloadActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceScenario.canopusPerformanceScripting.presentation.CanopusPerformanceScriptingModelWizardID"
            name="%_UI_CanopusPerformanceScriptingModelWizard_label"
            class="canopus.canopusPerformanceScenario.canopusPerformanceScripting.presentation.CanopusPerformanceScriptingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceScriptingModelFile.gif">
         <description>%_UI_CanopusPerformanceScriptingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceScenario.canopusPerformanceScripting.presentation.CanopusPerformanceScriptingEditorID"
            name="%_UI_CanopusPerformanceScriptingEditor_label"
            icon="icons/full/obj16/CanopusPerformanceScriptingModelFile.gif"
            extensions="canopusperformancescripting"
            class="canopus.canopusPerformanceScenario.canopusPerformanceScripting.presentation.CanopusPerformanceScriptingEditor"
            contributorClass="canopus.canopusPerformanceScenario.canopusPerformanceScripting.presentation.CanopusPerformanceScriptingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated canopus -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="canopus.canopusPerformanceScenario.canopusPerformanceScripting.canopusPerformanceExternalFile.presentation.CanopusPerformanceExternalFileModelWizardID"
            name="%_UI_CanopusPerformanceExternalFileModelWizard_label"
            class="canopus.canopusPerformanceScenario.canopusPerformanceScripting.canopusPerformanceExternalFile.presentation.CanopusPerformanceExternalFileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CanopusPerformanceExternalFileModelFile.gif">
         <description>%_UI_CanopusPerformanceExternalFileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated canopus -->
      <editor
            id="canopus.canopusPerformanceScenario.canopusPerformanceScripting.canopusPerformanceExternalFile.presentation.CanopusPerformanceExternalFileEditorID"
            name="%_UI_CanopusPerformanceExternalFileEditor_label"
            icon="icons/full/obj16/CanopusPerformanceExternalFileModelFile.gif"
            extensions="canopusperformanceexternalfile"
            class="canopus.canopusPerformanceScenario.canopusPerformanceScripting.canopusPerformanceExternalFile.presentation.CanopusPerformanceExternalFileEditor"
            contributorClass="canopus.canopusPerformanceScenario.canopusPerformanceScripting.canopusPerformanceExternalFile.presentation.CanopusPerformanceExternalFileActionBarContributor">
      </editor>
   </extension>

</plugin>
